header {
    padding: 8em 0;
}

header, footer {
    color: white;
    background: #448AFF;
    background-image: url("background.png");
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
    
}

pre {
    background: #212121;
    color: white;
}

header p {
    font-size: 1.4em;
}

footer {
    padding: 50px 0;
    text-align: center;
    font-size: 1.1em;
    margin-top: 3em;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    opacity: 0.96;
    background: #000000
    
}

.sidebars > .sidebar {
    position: fixed;
    color:white;
    padding: 1px;
    font-size: 2em;
    text-align: center;
}