.containerMax{width:100%;height:100%;position:relative;}
.overlay{top:0;left:0;width:100%;height:100%;position:absolute;}

.overlayMin{top:0;left:0;width:100%;height:100%;position:absolute;}
.containerMin{width:100%;height:100%;position:relative;display: inline-block;background-color: rgb(255,255,255);border:3px;border-color:rgb(0,0,0); border-style: solid;}
        
body {
   margin: 0;
   overflow: hidden;
}
.inner {
  width:100%;height:100%;position: absolute;
}