body {
  font: 11px sans-serif;
}
    
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  stroke-width: 1;
  fill: #DDD;
}

.tooltip {
 color: white;
        opacity: .9;
        background: #333;
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        font-family: Helvetica;
        font-size: 18px;
}

.trendline {
  fill: none;
  stroke: #000;
  stroke-opacity: 0;
  stroke-width: 6;
}
.trendline2 {
  fill: none;
  stroke: #000;
  stroke-width: 2;
}
#slider {
    position: relative;
    top: 550px;
    left: 195px;
    border: 2px solid black;
    width: 400px;
}