.the-chart {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  opacity: 0.7;
  stroke: #000;
}
.dot_unsel {
  opacity: 0.0;
  stroke: #000;
}

#tooltip-container {
  color: white;
        opacity: .9;
        background: #333;
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        font-family: Helvetica;
        font-size: 11px;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 1%;
  float: right;
}