
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

/* stylesheet for your custom graph */

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.states-choropleth {
  fill: #ccc;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 1%;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 1%;
  float: right;
}

.sel-flag {
  background-image: url('css_aux/flags.png');
  background-repeat: no-repeat;
  height: 135px;
  width: 266px;
  background-position: -5px -143px;
}

.unsel-flag {
   background-image: url('css_aux/unsel-flags.png');
  background-repeat: no-repeat;
  height: 135px;
  width: 266px;
  background-position: -5px -143px;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}