      #tooltip {
        color: white;
        opacity: .9;
        background: #333;
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        visibility: hidden;
        pointer-events: none;
        font-family: Helvetica;
      }
      #circle circle {
        fill: none;
        pointer-events: all;
      }
      .group path {
        fill-opacity: .7;
      }
      .chord {
        fill-opacity: .7;
        stroke-width: .25px;
      }
      #circle:hover path.fade {
        display: none;
      }