* {
    padding: 0;
    margin: 0;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* ,
* :before,
* :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "proxima-nova", 'Helvetica Neue', 'Helvetica', 'sans-serif';
    color: #232830;
}

lesshat-selector {
    -lh-property: 0;
}

::selection {
    color: #dfe1e8;
    background: #5b90bf
}

::-moz-selection {
    color: #dfe1e8;
    background: #5b90bf;
}

.hll {
    background-color: #ffffcc;
}

.c {
    color: #999988;
    font-style: italic;
}

/* Comment */
.err {
    color: #a61717;
    background-color: #e3d2d2;
}

/* Error */
.k {
    color: #000000;
    font-weight: bold;
}

/* Keyword */
.o {
    color: #000000;
    font-weight: bold;
}

/* Operator */
.cm {
    color: #999988;
    font-style: italic;
}

/* Comment.Multiline */
.cp {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}

/* Comment.Preproc */
.c1 {
    color: #999988;
    font-style: italic;
}

/* Comment.Single */
.cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}

/* Comment.Special */
.gd {
    color: #000000;
    background-color: #ffdddd;
}

/* Generic.Deleted */
.ge {
    color: #000000;
    font-style: italic;
}

/* Generic.Emph */
.gr {
    color: #aa0000;
}

/* Generic.Error */
.gh {
    color: #999999;
}

/* Generic.Heading */
.gi {
    color: #000000;
    background-color: #ddffdd;
}

/* Generic.Inserted */
.go {
    color: #888888;
}

/* Generic.Output */
.gp {
    color: #555555;
}

/* Generic.Prompt */
.gs {
    font-weight: bold;
}

/* Generic.Strong */
.gu {
    color: #aaaaaa;
}

/* Generic.Subheading */
.gt {
    color: #aa0000;
}

/* Generic.Traceback */
.kc {
    color: #000000;
    font-weight: bold;
}

/* Keyword.Constant */
.kd {
    color: #000000;
    font-weight: bold;
}

/* Keyword.Declaration */
.kn {
    color: #000000;
    font-weight: bold;
}

/* Keyword.Namespace */
.kp {
    color: #000000;
    font-weight: bold;
}

/* Keyword.Pseudo */
.kr {
    color: #000000;
    font-weight: bold;
}

/* Keyword.Reserved */
.kt {
    color: #445588;
    font-weight: bold;
}

/* Keyword.Type */
.m {
    color: #009999;
}

/* Literal.Number */
.s {
    color: #d01040;
}

/* Literal.String */
.na {
    color: #008080;
}

/* Name.Attribute */
.nb {
    color: #0086b3;
}

/* Name.Builtin */
.nc {
    color: #445588;
    font-weight: bold;
}

/* Name.Class */
.no {
    color: #008080;
}

/* Name.Constant */
.nd {
    color: #3c5d5d;
    font-weight: bold;
}

/* Name.Decorator */
.ni {
    color: #800080;
}

/* Name.Entity */
.ne {
    color: #990000;
    font-weight: bold;
}

/* Name.Exception */
.nf {
    color: #990000;
    font-weight: bold;
}

/* Name.Function */
.nl {
    color: #990000;
    font-weight: bold;
}

/* Name.Label */
.nn {
    color: #555555;
}

/* Name.Namespace */
.nt {
    color: #000080;
}

/* Name.Tag */
.nv {
    color: #008080;
}

/* Name.Variable */
.ow {
    color: #000000;
    font-weight: bold;
}

/* Operator.Word */
.w {
    color: #bbbbbb;
}

/* Text.Whitespace */
.mf {
    color: #009999;
}

/* Literal.Number.Float */
.mh {
    color: #009999;
}

/* Literal.Number.Hex */
.mi {
    color: #009999;
}

/* Literal.Number.Integer */
.mo {
    color: #009999;
}

/* Literal.Number.Oct */
.sb {
    color: #d01040;
}

/* Literal.String.Backtick */
.sc {
    color: #d01040;
}

/* Literal.String.Char */
.sd {
    color: #d01040;
}

/* Literal.String.Doc */
.s2 {
    color: #d01040;
}

/* Literal.String.Double */
.se {
    color: #d01040;
}

/* Literal.String.Escape */
.sh {
    color: #d01040;
}

/* Literal.String.Heredoc */
.si {
    color: #d01040;
}

/* Literal.String.Interpol */
.sx {
    color: #d01040;
}

/* Literal.String.Other */
.sr {
    color: #009926;
}

/* Literal.String.Regex */
.s1 {
    color: #d01040;
}

/* Literal.String.Single */
.ss {
    color: #990073;
}

/* Literal.String.Symbol */
.bp {
    color: #999999;
}

/* Name.Builtin.Pseudo */
.vc {
    color: #008080;
}

/* Name.Variable.Class */
.vg {
    color: #008080;
}

/* Name.Variable.Global */
.vi {
    color: #008080;
}

/* Name.Variable.Instance */
.il {
    color: #009999;
}

/* Literal.Number.Integer.Long */
lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes hamburger-top {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -webkit-transform: translate3d(0, 8px, 0) rotate(0);
    }

    100% {
        -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    }
}

@-moz-keyframes hamburger-top {
    0% {
        -moz-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -moz-transform: translate3d(0, 8px, 0) rotate(0);
    }

    100% {
        -moz-transform: translate3d(0, 8px, 0) rotate(45deg);
    }
}

@-o-keyframes hamburger-top {
    0% {
        -o-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -o-transform: translate3d(0, 8px, 0) rotate(0);
    }

    100% {
        -o-transform: translate3d(0, 8px, 0) rotate(45deg);
    }
}

@keyframes hamburger-top {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        -moz-transform: translate3d(0, 0, 0) rotate(0);
        -ms-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -webkit-transform: translate3d(0, 8px, 0) rotate(0);
        -moz-transform: translate3d(0, 8px, 0) rotate(0);
        -ms-transform: translate3d(0, 8px, 0) rotate(0);
        transform: translate3d(0, 8px, 0) rotate(0);
    }

    100% {
        -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
        -moz-transform: translate3d(0, 8px, 0) rotate(45deg);
        -ms-transform: translate3d(0, 8px, 0) rotate(45deg);
        transform: translate3d(0, 8px, 0) rotate(45deg);
    }

    ;
}

lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes hamburger-middle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes hamburger-middle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes hamburger-middle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hamburger-middle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

    ;
}

lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes hamburger-bottom {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -webkit-transform: translate3d(0, -8px, 0) rotate(0);
    }

    100% {
        -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
}

@-moz-keyframes hamburger-bottom {
    0% {
        -moz-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -moz-transform: translate3d(0, -8px, 0) rotate(0);
    }

    100% {
        -moz-transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
}

@-o-keyframes hamburger-bottom {
    0% {
        -o-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -o-transform: translate3d(0, -8px, 0) rotate(0);
    }

    100% {
        -o-transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
}

@keyframes hamburger-bottom {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        -moz-transform: translate3d(0, 0, 0) rotate(0);
        -ms-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -webkit-transform: translate3d(0, -8px, 0) rotate(0);
        -moz-transform: translate3d(0, -8px, 0) rotate(0);
        -ms-transform: translate3d(0, -8px, 0) rotate(0);
        transform: translate3d(0, -8px, 0) rotate(0);
    }

    100% {
        -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
        -moz-transform: translate3d(0, -8px, 0) rotate(-45deg);
        -ms-transform: translate3d(0, -8px, 0) rotate(-45deg);
        transform: translate3d(0, -8px, 0) rotate(-45deg);
    }

    ;
}

lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes hamburger-top-reverse {
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -webkit-transform: translate3d(0, 8px, 0) rotate(0);
    }

    0% {
        -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    }
}

@-moz-keyframes hamburger-top-reverse {
    100% {
        -moz-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -moz-transform: translate3d(0, 8px, 0) rotate(0);
    }

    0% {
        -moz-transform: translate3d(0, 8px, 0) rotate(45deg);
    }
}

@-o-keyframes hamburger-top-reverse {
    100% {
        -o-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -o-transform: translate3d(0, 8px, 0) rotate(0);
    }

    0% {
        -o-transform: translate3d(0, 8px, 0) rotate(45deg);
    }
}

@keyframes hamburger-top-reverse {
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        -moz-transform: translate3d(0, 0, 0) rotate(0);
        -ms-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -webkit-transform: translate3d(0, 8px, 0) rotate(0);
        -moz-transform: translate3d(0, 8px, 0) rotate(0);
        -ms-transform: translate3d(0, 8px, 0) rotate(0);
        transform: translate3d(0, 8px, 0) rotate(0);
    }

    0% {
        -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
        -moz-transform: translate3d(0, 8px, 0) rotate(45deg);
        -ms-transform: translate3d(0, 8px, 0) rotate(45deg);
        transform: translate3d(0, 8px, 0) rotate(45deg);
    }

    ;
}

lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes hamburger-middle-reverse {
    100% {
        opacity: 1;
    }

    51% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    0% {
        opacity: 0;
    }
}

@-moz-keyframes hamburger-middle-reverse {
    100% {
        opacity: 1;
    }

    51% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    0% {
        opacity: 0;
    }
}

@-o-keyframes hamburger-middle-reverse {
    100% {
        opacity: 1;
    }

    51% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    0% {
        opacity: 0;
    }
}

@keyframes hamburger-middle-reverse {
    100% {
        opacity: 1;
    }

    51% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    0% {
        opacity: 0;
    }

    ;
}

lesshat-selector {
    -lh-property: 0;
}

@-webkit-keyframes hamburger-bottom-reverse {
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -webkit-transform: translate3d(0, -8px, 0) rotate(0);
    }

    0% {
        -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
}

@-moz-keyframes hamburger-bottom-reverse {
    100% {
        -moz-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -moz-transform: translate3d(0, -8px, 0) rotate(0);
    }

    0% {
        -moz-transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
}

@-o-keyframes hamburger-bottom-reverse {
    100% {
        -o-transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -o-transform: translate3d(0, -8px, 0) rotate(0);
    }

    0% {
        -o-transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
}

@keyframes hamburger-bottom-reverse {
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        -moz-transform: translate3d(0, 0, 0) rotate(0);
        -ms-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0);
    }

    50% {
        -webkit-transform: translate3d(0, -8px, 0) rotate(0);
        -moz-transform: translate3d(0, -8px, 0) rotate(0);
        -ms-transform: translate3d(0, -8px, 0) rotate(0);
        transform: translate3d(0, -8px, 0) rotate(0);
    }

    0% {
        -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
        -moz-transform: translate3d(0, -8px, 0) rotate(-45deg);
        -ms-transform: translate3d(0, -8px, 0) rotate(-45deg);
        transform: translate3d(0, -8px, 0) rotate(-45deg);
    }

    ;
}

body {
    -webkit-text-size-adjust: 100%;
    padding-left: 250px;
    overflow-x: hidden;
}

@media only screen and (max-width: 978px) {
    body {
        padding-left: 200px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding-left: 0px;
        padding-top: 40px;
    }

    body.open-menu aside {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    body.open-menu .docs-container {
        pointer-events: none;
        -webkit-transform: translateX(250px);
        -moz-transform: translateX(250px);
        -o-transform: translateX(250px);
        -ms-transform: translateX(250px);
        transform: translateX(250px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232830;
}

h1 {
    font-size: 42px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
        margin-bottom: 22px;
    }
}

h2 {
    font-size: 32px;
    padding-top: 12px;
    margin-bottom: 14px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 22px;
        margin-bottom: 8px;
    }
}

h3 {
    clear: both;
    font-size: 22px;
    margin-bottom: 12px;
    padding-top: 32px;
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 18px;
    }
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    h4 {
        font-size: 16px;
        margin-bottom: 6px;
    }
}

p {
    color: #566076;
    margin-bottom: 12px;
    line-height: 22px;
}

p code {
    background-color: #fafafa;
    padding: 4px 8px;
    border-radius: 6px;
    color: #232830;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 14px;
    }
}

code {
    font-family: 'source-code-pro', monospace;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    code {
        font-size: 12px;
    }
}

canvas {
    margin-bottom: 22px;
}

.half {
    width: 50%;
    float: left;
}

@media only screen and (max-width: 600px) {
    .half {
        float: none;
        width: 100%;
    }
}

.docs-container {
    padding: 40px 80px;
    max-width: 978px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    -moz-transition: -moz-transform 200ms ease-in-out;
    -o-transition: -o-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out, -moz-transform 200ms ease-in-out, -o-transform 200ms ease-in-out, transform 200ms ease-in-out;
}

@media only screen and (max-width: 978px) {
    .docs-container {
        padding: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .docs-container {
        padding: 20px;
    }
}

.highlight {
    padding: 8px 12px;
    margin: 20px 0;
    background-color: #fafafa;
    border-radius: 6px;
    overflow: scroll;
    overflow-x: visible;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.intro h3 {
    color: #566076;
    font-weight: normal;
}

article {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 40px;
    padding-top: 40px;
}

@media only screen and (max-width: 600px) {
    article {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

article:first-child {
    padding-top: 0;
}

article ul {
    padding-left: 20px;
}

article ul li {
    color: #566076;
    margin-bottom: 12px;
    line-height: 22px;
}

@media only screen and (max-width: 600px) {
    article ul li {
        font-size: 14px;
    }
}

aside {
    position: fixed;
    height: 100%;
    background-color: #232830;
    left: 0;
    top: 0;
    width: 250px;
    border-right: 10px solid #5b90bf;
    z-index: 10;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    -moz-transition: -moz-transform 200ms ease-in-out;
    -o-transition: -o-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out, -moz-transform 200ms ease-in-out, -o-transform 200ms ease-in-out, transform 200ms ease-in-out;
}

aside .hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
}

aside .hamburger-menu li {
    list-style: none;
    height: 4px;
    margin-bottom: 4px;
    display: block;
    background-color: #fafafa;
    -webkit-transition: -webkit-transform 400ms ease-out;
    -moz-transition: -moz-transform 400ms ease-out;
    -o-transition: -o-transform 400ms ease-out;
    transition: -webkit-transform 400ms ease-out, -moz-transform 400ms ease-out, -o-transform 400ms ease-out, transform 400ms ease-out;
}

aside .hamburger-menu li:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 978px) {
    aside {
        width: 200px;
    }
}

@media only screen and (max-width: 600px) {
    aside {
        width: 250px;
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -o-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        transform: translateX(-250px);
    }

    aside .hamburger-menu {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: -50px;
        background-color: #232830;
    }

    .open-menu aside .hamburger-menu li {
        -webkit-animation: hamburger-middle 400ms ease-out forwards;
        -moz-animation: hamburger-middle 400ms ease-out forwards;
        -o-animation: hamburger-middle 400ms ease-out forwards;
        animation: hamburger-middle 400ms ease-out forwards;
    }

    .open-menu aside .hamburger-menu li:first-child {
        -webkit-animation: hamburger-top 400ms ease-out forwards;
        -moz-animation: hamburger-top 400ms ease-out forwards;
        -o-animation: hamburger-top 400ms ease-out forwards;
        animation: hamburger-top 400ms ease-out forwards;
    }

    .open-menu aside .hamburger-menu li:last-child {
        -webkit-animation: hamburger-bottom 400ms ease-out forwards;
        -moz-animation: hamburger-bottom 400ms ease-out forwards;
        -o-animation: hamburger-bottom 400ms ease-out forwards;
        animation: hamburger-bottom 400ms ease-out forwards;
    }

    .closed-menu aside .hamburger-menu li {
        -webkit-animation: hamburger-middle-reverse 400ms ease-out forwards;
        -moz-animation: hamburger-middle-reverse 400ms ease-out forwards;
        -o-animation: hamburger-middle-reverse 400ms ease-out forwards;
        animation: hamburger-middle-reverse 400ms ease-out forwards;
    }

    .closed-menu aside .hamburger-menu li:first-child {
        -webkit-animation: hamburger-top-reverse 400ms ease-out forwards;
        -moz-animation: hamburger-top-reverse 400ms ease-out forwards;
        -o-animation: hamburger-top-reverse 400ms ease-out forwards;
        animation: hamburger-top-reverse 400ms ease-out forwards;
    }

    .closed-menu aside .hamburger-menu li:last-child {
        -webkit-animation: hamburger-bottom-reverse 400ms ease-out forwards;
        -moz-animation: hamburger-bottom-reverse 400ms ease-out forwards;
        -o-animation: hamburger-bottom-reverse 400ms ease-out forwards;
        animation: hamburger-bottom-reverse 400ms ease-out forwards;
    }
}

aside nav {
    height: 100%;
    padding-bottom: 20px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

aside nav li {
    display: block;
}

aside nav li a {
    display: block;
    color: #fafafa;
    padding: 10px 12px;
    text-decoration: none;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

aside nav li a:hover {
    background-color: #2b303b;
}

aside .subsection-navigation li {
    font-size: 12px;
    margin-left: 12px;
    border-left: 1px solid #2b303b;
}

aside .subsection-navigation li a {
    padding: 6px 12px;
}


