
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#tooltip-container {
   color: white;
        opacity: .9;
        background: #333;
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        font-family: Helvetica;
        font-size: 18px;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 1%;
  float: right;
}



.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}